---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>My Astro Blog</h1>
    <h1>About Me</h1>
    <h2>……and My New Astro Website!</h2>

    <p>This is the about page.</p>

    <p>This blog is continuing to be built.</p>
	</body>
</html>
